/* .titulo {
    font-family: Helvetica, sans-serif;
    font-weight: 100;
    color: #008E60;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
} */

.titulo, .col-form-label {
    font-family: Helvetica, sans-serif;
    font-weight: 100;
    color: black;
    text-align: center;
    /* text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); */
}

.separador{
    height: 45px;
    margin-bottom: 5px;
}

nav  a{
    color: white;
}

.border{
    border-radius: 15px;
    border: 2px solid black;
    background-color: #008e6133;
}

.dropdown-menu .dropdown-item:hover {
    background-color: #343a4068; 
    color: #fff;
  }

footer {
    position: relative;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
}

