<nav class="navbar navbar-expand-lg bg-dark mt-2">
  <div class="container-fluid">
    <a class="navbar-brand text-light m-0 p-0" href="/">
      <img src="/img/cfe.png" alt="Logo" width="45" height="45" class="d-inline-block align-text-center">
    </a>
    <button class="navbar-toggler bg-success btn-outline-warning" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active text-light" aria-current="page" href="/index">Home</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-light" href="#" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            Opciones
          </a>
          <ul class="dropdown-menu bg-dark">
            <li><a class="dropdown-item text-light" href="/index">Pago de Recibo</a></li>
            <li><a class="dropdown-item text-light" href="#">Acerca de</a></li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item text-light" href="#">Contactos</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled text-light" aria-disabled="true">Contratar</a>
        </li>
      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" disabled>
        <button class="btn btn-outline-light" type="submit" disabled>Buscar</button>
      </form>
    </div>
  </div>
</nav>